<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Disciplinas</title>
    <link rel="stylesheet" type="text/css" href="static/css/site.css">
</head>
<body>
    <img id='primeira_imagem' src="static/image.png" width="200px" height="200px" alt="logomarca"/>
    <nav>
        <a href="/">Homepage</a>
        <a href="cursos.html">Cursos</a>
        <a href="disciplina.html">Disciplinas</a>
        <a href="noticias.html">Notícias</a>
    </nav>
    <h1 class='estilo'>Materias escolares</h1>
    <h2 class='estilo'>Ensino Médio</h2>
    <p class='estilo'>O ensino médio é o nome dado ao sistema de ensino escolar que procede ao ensino básico fundamental.
         O ensino médio é a continuação escolar que conta com três séries de ensino: primeiro, segundo e terceiro ano do ensino médio.</p>
    <p class='estilo'>Esse subsistema de ensino é normalmente ministrado às crianças e adolescentes que possuem a faixa etária entre 14 e 18 anos de idade em média.</p>
    <p class='estilo'>O método de ensino de cada escola pode variar quando se fala em matérias escolares, mas as principais matérias são divididas em ciências exatas e da natureza, ciências humanas, linguagens e educação física.</p>
    <p class='estilo'>Ciências exatas e da natureza: matemática, física, química e biologia.</p>
    <p class='estilo'>Ciências humanas: história, geografia, sociologia e filosofia.    </p>
    <p class='estilo'>Linguagens: língua portuguesa, língua estrangeira (inglês ou espanhol), artes e literatura; além da matéria de educação física.</p>
    <footer>
        <div>
            <img src="static/image.png" width="90px" height="90px" alt="logomarca"/>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="disciplina.html">Disciplinas</a></li>
            <li><a href="noticias.html">notícias</a></li>
        </ul>
        </div>
    </footer>
</body>
</html>