<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/css/site.css">
</head>
<body>
    <img id='primeira_imagem' src="static/image.png" width="200px" height="200px" alt="logomarca"/>
    <nav>
        <a href="/">Homepage</a>
        <a href="cursos.html">Cursos</a>
        <a href="disciplina.html">Disciplinas</a>
        <a href="noticias.html">Notícias</a>
    </nav>
    <h1 class='estilo'>Título de lorem ipsum</h1>
    <p class='estilo'>Conteudo em lorem ipsum</p>
    <p class='estilo'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nunc vel 
    leo pellentesque eleifend vitae nec felis. Phasellus a ipsum porttitor, dapibus purus sed, 
    commodo orci. Sed ultricies lacinia elit at dictum. Maecenas ante lorem, porttitor at purus malesuada, 
    gestas suscipit diam. Proin lorem turpis, bibendum nec mauris in, interdum pretium sem. Ut malesuada 
    quis purus in maximus. Nullam pretium dolor vel ante viverra pharetra. Quisque in sodales lectus, 
    et gravida metus. Ut id tincidunt quam. Etiam non lobortis ante. Suspendisse finibus nulla felis, 
    at imperdiet lectus elementum at. Integer et sagittis metus. Fusce ut ligula aliquet, interdum neque 
    et, viverra orci. Nulla a urna porta, pellentesque elit a, consectetur magna. Quisque faucibus nibh 
    eget tellus luctus, elementum cursus risus molestie.</p>

    <footer>
        <div class='footer'>
            <img src="static/image.png" width="90px" height="90px" alt="logomarca"/>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="disciplina.html">Disciplinas</a></li>
            <li><a href="noticias.html">notícias</a></li>
        </ul>
        </div>
    </footer>
</body>
</html>