<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>notícias</title>
    <link rel="stylesheet" type="text/css" href="static/css/site.css">
</head>
<body>
    <img id='primeira_imagem' src="static/image.png" width="200px" height="200px" alt="logomarca"/>
    <nav>
        <a href="/">Homepage</a>
        <a href="cursos.html">Cursos</a>
        <a href="disciplina.html">Disciplinas</a>
        <a href="noticias.html">Notícias</a>
    </nav>
    <h1 class='estilo'>Notícias</h1>
    <p class='estilo'>Apenas 2% das escolas públicas de ensino médio oferecem condições satisfatórias de aprendizado, diz estudo</p>
    <p class='estilo'>Pesquisa publicada nesta quinta-feira (26) aponta que das 5.042 instituições que atendem a alunos de baixa renda, apenas 100 foram aprovadas por indicadores de qualidade; escolas em período integral se destacaram positivamente.</p><br/>
    <p class='estilo'>Em todo o território nacional, somente 2% das escolas públicas de ensino médio oferecem as condições necessárias para um aprendizado satisfatório. Este é o resultado de um levantamento feito com as instituições que atendem a alunos de baixa renda, divulgado na quinta-feira (26).</p>
    <p class='estilo'>Entre as 5.042 unidades de ensino que atendem a alunos cuja renda familiar é de até 3 salários mínimo, apenas 100 apresentaram resultados satisfatórios.</p>
    <p class='estilo'>O estudo "Excelência com Equidade no Ensino Médio: a dificuldade das redes para dar um suporte efetivo às escolas" da Fundação Lemman, Interdisciplinaridade e Evidências no Debate Educacional (Iede), e Instituto Unibanco destacou que entre as melhores escolas deste grupo, 82% são de período integral.</p>
    <h2 class='estilo'>Melhor resultado é do Ceará</h2>
    <p class='estilo'>O estado do Ceará se destacou entre as escolas com melhor desempenho no estudo. Com 55 instituições, ficou à frente do Espírito Santo (14), Goiás (7) e Pernambuco (7).</p>
    <p class='estilo'>Rio de Janeiro, Minas Gerais, Rio Grande do Sul e São Paulo não se destacaram e tiveram cada um, no máximo, três escolas entre as mais bem avaliadas.</p>
    <p class='estilo'>Segundo os pesquisadores, as boas práticas que o levantamento constatou são casos ainda isolados e dependem de professores e diretores capazes de fazer a diferença.</p>
    <footer>
        <div>
            <img src="static/image.png" width="90px" height="90px" alt="logomarca"/>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="disciplina.html">Disciplinas</a></li>
            <li><a href="noticias.html">notícias</a></li>
        </ul>
        </div>
    </footer>
</body>
</html>